.actions{
    display: grid;
    margin-left: 20%;
    margin-top: 10;
}
.box{
    width: 70px;
}
table{
    margin-top: 60px;
    margin-left: 10%;
}
th{
    padding: 10px;
}
td{
    padding: 5px;
}
button{
    background-color: rgb(225, 144, 144);
    padding: 1px;
    border-radius: 2px;
}
.submit1{
    background-color: rgb(219, 151, 151);
    border-radius: 12px;
    width: 70px;
    height: 35px;
}
.submit1:hover{
    background-color: brown;
}
button:hover{
    background-color: brown;
}
.date{
    height: 35px;
    border-radius: 7px;
}