*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%S;
    
}
html{
    width: 100%;
}
.navbar{
    background-color: crimson;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    border-radius: 4px;

    
}
.navbar ul{
    width: 100%;
    text-align: right;
    overflow: auto;
    padding: 9px 30px;
}
.navbar ul li{
   display: inline-block;
   list-style: none;
}
.navbar li a{
    padding: 4px;
    text-decoration: none;
    color: black;
}
.navbar li a:hover{
    
    color: rgb(248, 246, 246);
}
.logo{
    width: 150px;
    height: 50px;
}
.sub-menu-wrap{
    position: absolute;
    top: 5%;
    right:10px;
    width: 200px;
    max-height: 0px;
   
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
    border-radius: 5pxs;
}
.sub-menu{
    background: #dc143c;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.submenu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px;
}
.submenu-link p{
    width: 100%;
    transition: 0.5s;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.submenu-link p:hover{
   transform:scale(1.1);
   color: rgb(253, 253, 253);
} 

/* -----------------------------------login-------------------------------------- */
.sub-log-wrap{
    position: absolute;
    top: 5%;
    right:10px;
    width: 200px;
    max-height: 0px;
   
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-log-wrap.open-log{
    max-height: 400px;
    border-radius: 5pxs;
}
.log-menu{
    background: #dc143c;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.log-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px;
}
.log-link p{
    width: 100%;
    transition: 0.5s;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.log-link p:hover{
   transform:scale(1.1);
   color: rgb(253, 253, 253);
} 
/* --------------------------------search bar------------------------------------------- */
.from{
    height:100PX;
}
.searchBus{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: rgb(255, 255, 255); */
    border: #0c0c0c; 
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
     padding: 10px;
}
.background{
    margin-top: -250px;
}
.greeting{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ba3b3b;
    display: grid;
    align-items: center;
    margin-left: 38%;
    margin-top: 5%;
}
input{
    display: grid;
    grid-gap: 10px;
    height: 35px;
    width: 100px;
    border-color: #0c0c0c;
    border-radius: 5px;
    padding: 2%;
}
button{
    padding: 7%;
    background-color: #d40d35;
    border-radius: 5px;
}
button:hover{
    background-color: #f10606;
}
/* -----------------------------------bus table------------------------------------------------ */
.busTable{
    background-color: rgb(241, 238, 233);
   margin-left: 20%;
    margin-top: 5%;
    border-radius: 5px;
}
td, th{
  width: 90px;  
}